/* Estilos responsivos para pantallas con un ancho máximo de 831px */
@media screen and (max-width: 831px) {

    /* El contenedor ocupa el ancho completo en pantallas pequeñas */
    .contenedor {
        width: 100%;
    }

    /* El menú de navegación se expande en altura y se le asigna un color de fondo */
    nav {
        width: 100%;
        height: 280px;
        background-color: rgb(248, 205, 156); /* Color pastel claro */
    }

    /* Espaciado superior en la lista del menú para mejorar la apariencia */
    nav ul {
        padding-top: 10px;
    }
}

/* Estilos generales del cuerpo del sitio */
body {
    background-color: #121212; /* Fondo oscuro para una apariencia elegante */
    color: #f5f5f5; /* Texto en color claro para buen contraste */
    font-family: "EB Garamond", serif;
    /* FUENTE */
    font-optical-sizing: auto;
}
* Sección con espaciado interno para contenido adicional */
.section {
    padding: 60px 20px;
}


footer .row {
    width: 100%; /* Asegura que las columnas ocupen el ancho completo del footer */
}

/* Estilos generales para las columnas del footer */
footer .col-md-4 {
    padding-top: 10px; /* Espacio superior uniforme en todas las columnas */
}


/* Contenedor de íconos con diseño flexible */
.icon-container {
    display: flex; /* Diseño flexible para organizar los íconos en fila */
    gap: 15px; /* Espacio entre los íconos */
    justify-content: center; /* Centrado horizontal de los íconos */
}

/* Estilo individual para cada ícono */
.icon-box {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 10px; /* Bordes redondeados */
    display: inline-block; /* Ajuste automático al tamaño del contenido */
    transition: background-color 0.3s ease; /* Efecto suave en el cambio de color */
}

/* Efecto visual al pasar el mouse sobre los íconos */
.icon-box:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Tamaño uniforme para las imágenes de los íconos */
.icon-box img {
    width: 30px;
    height: 30px;
}